<!DOCTYPE html>
<html lang="ja">
  <head>
    <meata charset="urf-8">
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-custom.css">
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <h1 class="title">まねふぉ</h1>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <small>
          Copyright &copy; Kazumasa Takenaka
        </small>
        <nav>
          <ul>
            <li><a href=https://github.com/takenaka-kazumasa/thread_finmf_training target="_blank">About</a></li>
            <li><a href=https://corp.moneyforward.com/ target="_blank">MF</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
