<div class="container">
  <h1>スレッド一覧</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th id='date-time'>date-time</th>
        <th id='name'>name</th>
        <th id='title'>title</th>
      </tr>
    </thead>
    <tbody>
      <% @threads.each do |thread| %>
        <tr>
          <th><%= thread[:created_at] %></th>
          <td><%= thread[:user_name] %></td>
          <td><a href="<%= thread[:id] %>"><%= thread[:thread_name] %></a></td>
        <tr>
      <% end %>
    </tbody>
  </table>

  <form action="thread" method="POST">
    <div class="form-group">
      <label for="user_name">名前</label>
      <input class="form-control" type="text" name="user_name" id="user_name">
    </div>
      <label for="thread_name">スレタイトル</label>
      <textarea class="form-control" id="thread_name" name="thread_name" rows="1"></textarea>
      <input type="submit" value="create new thread">
  </form>
</div>
